@model LENGUAJES_Primer_Proyecto_AndreyBermdez_JeyconMorera.Models.Anime

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Anime</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div style="display:flex;">
                <div class="form-group" style="height:10em;width:12em;">
                    <label asp-for="Foto" class="control-label" font-size: 14px; 
                     style="font-weight:600;padding: 15px 40px !important;text-align: center;height:10em;width:10em;border-color:black;
                     border-width:2px;border-style:Solid;"></label>
                    <input style="width: 0.1px;height: 0.1px;opacity: 0;overflow: hidden;" asp-for="Foto" class="form-control" type="file" name="file" />
                    <span asp-validation-for="Foto" class="text-danger"></span>
                </div>
                <div style="margin-left:1em">
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Clasificacion" class="control-label"></label>
                        <input asp-for="Clasificacion" class="form-control" />
                        <span asp-validation-for="Clasificacion" class="text-danger"></span>
                    </div>
                </div>
                <div style="margin-left:1em">
                    <div class="form-group">
                        <label asp-for="CEpisodios" class="control-label"></label>
                        <input asp-for="CEpisodios" class="form-control" />
                        <span asp-validation-for="CEpisodios" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Ranking" class="control-label"></label>
                        <input asp-for="Ranking" class="form-control" />
                        <span asp-validation-for="Ranking" class="text-danger"></span>
                    </div>
                </div>
                <div style="margin-left:1em">
                    <div class="form-group">
                        <label asp-for="AñoEmision" class="control-label"></label>
                        <input asp-for="AñoEmision" class="form-control" />
                        <span asp-validation-for="AñoEmision" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AñoFinalizacion" class="control-label"></label>
                        <input asp-for="AñoFinalizacion" class="form-control" />
                        <span asp-validation-for="AñoFinalizacion" class="text-danger"></span>
                    </div>
                </div>
                <div style="margin-left:1em;">
                    <div class="form-group">
                        <label asp-for="Duracion" class="control-label"></label>
                        <input asp-for="Duracion" class="form-control" />
                        <span asp-validation-for="Duracion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TotalEpisodios" class="control-label"></label>
                        <input asp-for="TotalEpisodios" class="form-control" />
                        <span asp-validation-for="TotalEpisodios" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div style="display:flex;">
                <div style="margin-left:1em" class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="EstDescarga" /> @Html.DisplayNameFor(model => model.EstDescarga)
                    </label>
                </div>
                <div style="margin-left:1em"  class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="EstEmision" /> @Html.DisplayNameFor(model => model.EstEmision)
                    </label>
                </div>
                <div  style="margin-left:1em"  class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
